<div class="row container-error">
    <div class="col-md-2 side-error left"></div>
    <div class="col-md-8 content-error">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <div class="col-md-2 side-error right"></div>
</div>
<style>
    .container-error {
        height: 450px;
        background-color: #0000FF;
        position: relative;
    }
    .side-error{
        width: 20%;
    }
    .left{
        position: absolute;
        float: left;
        background-color: #1D68B9;
    }
    .right{
        float: right;
    }
    .content-error{
        margin: auto;
        padding-inline-start: 38%;
    }
</style>